<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DragonAsia.SalesMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="DragonAsia.SalesMan.Repositories.FileDb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <applicationSettings>
    <DragonAsia.SalesMan.Properties.Settings>
      <setting name="taxref_number" serializeAs="String">
        <value>37303/32421</value>
      </setting>
      <setting name="taxref_exclude_empty" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="phone_number" serializeAs="String">
        <value>+49 1573 0653396</value>
      </setting>
    </DragonAsia.SalesMan.Properties.Settings>

    <DragonAsia.SalesMan.Repositories.FileDb.Properties.Settings>
      <setting name="db_path" serializeAs="String">
        <value>db/</value>
      </setting>
    </DragonAsia.SalesMan.Repositories.FileDb.Properties.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
</configuration>
